In [1]:
import requests
import pandas as pd
from tqdm import tqdm

In [2]:
url = "https://data.montgomerycountymd.gov/api/views/v76h-r7br/rows.json?accessType=DOWNLOAD"
data = requests.get(url).json()

In [3]:
data.keys()

dict_keys(['meta', 'data'])

In [4]:
def get_data_dict(json_data):
    col_info = json_data['meta']['view']['columns']
    names,desc,dtype = [],[],[]
    for info in col_info:
        names.append(info.get('fieldName').replace(":","").strip())
        desc.append(info.get('description',"").strip())
        dtype.append(info.get('dataTypeName'))
    return pd.DataFrame({'col_names':names,'descriptions':desc,"dtypes":dtype})

In [5]:
get_data_dict(data)

,col_names,descriptions,dtypes
0,sid,,meta_data
1,id,,meta_data
2,position,,meta_data
3,created_at,,meta_data
4,created_meta,,meta_data
5,updated_at,,meta_data
6,updated_meta,,meta_data
7,meta,,meta_data
8,calendar_year,Calendar Year,number
9,cal_month_num,Month,number
10,supplier,Supplier Name,text
11,item_code,Item code,text
12,item_description,Item Description,text
13,item_type,Item Type,text
14,rtl_sales,Cases of product sold from DLC dispensaries,number
15,rtl_transfers,Cases of product transferred to DLC dispensaries,number
16,whs_sales,Cases of product sold to MC licensees,number

In [6]:
url2 = "https://data.ny.gov/api/views/9a8c-vfzj/rows.json?accessType=DOWNLOAD"
data2 = requests.get(url2).json()

In [7]:
get_data_dict(data2)

,col_names,descriptions,dtypes
0,sid,,meta_data
1,id,,meta_data
2,position,,meta_data
3,created_at,,meta_data
4,created_meta,,meta_data
5,updated_at,,meta_data
6,updated_meta,,meta_data
7,meta,,meta_data
8,county,The county in which the licensed entity is phy...,text
9,license_number,The licensed entity’s license number for this ...,text
10,operation_type,The type of operation the licensed entity cond...,text
11,estab_type,The establishment type for the licensed entity...,text
12,entity_name,The name of the licensed entity,text
13,dba_name,“Doing business as” (DBA) name for the license...,text
14,street_number,The street number for the physical address of ...,text
15,street_name,The street name for the physical location of t...,text
16,address_line_2,The second address line recorded for the physi...,text
17,address_line_3,The third address line recorded for the physic...,text
18,city,The name of the city in which the licensed ent...,text
19,state,The two character state code for the physical ...,text
20,zip_code,The United States Postal Service (USPS) ZIP co...,text
21,square_footage,The square footage of the entire physical loca...,number
22,georeference,,point
23,@computed_region_yamh_8v7k,This column was automatically created in order...,number

In [8]:
data['data'][0]

['row-mnid.ac5t.8e6c',
 '00000000-0000-0000-2A4D-FC17C663CD70',
 0,
 1583413338,
 None,
 1583413338,
 None,
 '{ }',
 '2020',
 '1',
 'REPUBLIC NATIONAL DISTRIBUTING CO',
 '100009',
 'BOOTLEG RED - 750ML',
 'WINE',
 '0',
 '0',
 '2']

In [9]:
def make_table(json_data,data_dict):
    data_container = {n:[] for n in data_dict['col_names'].unique()}
    for row in tqdm(json_data['data']):
        for idx,val in enumerate(row):
            key_name = data_dict['col_names'].iloc[idx]
            dtype = data_dict['dtypes'].iloc[idx]
            if dtype == "number" and val is not None:
                val = float(val)
            else:
                val = val
            data_container[key_name].append(val)
    return pd.DataFrame(data_container)

In [10]:
d_dict_1 = get_data_dict(data)

In [11]:
make_table(data,d_dict_1)

100%|█████████████████████████████████| 307645/307645 [00:32<00:00, 9536.06it/s]

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,calendar_year,cal_month_num,supplier,item_code,item_description,item_type,rtl_sales,rtl_transfers,whs_sales
0,row-mnid.ac5t.8e6c,00000000-0000-0000-2A4D-FC17C663CD70,0,1583413338,None,1583413338,None,{ },2020.0,1.0,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.00
1,row-wgxs-vi8e-i2eq,00000000-0000-0000-B3DA-6C4E63133CC6,0,1583413338,None,1583413338,None,{ },2020.0,1.0,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.00
2,row-ij4x-v5qe_k85b,00000000-0000-0000-789E-903C674CCB5E,0,1583413338,None,1583413338,None,{ },2020.0,1.0,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.00
3,row-89pz.2bj3-i2vs,00000000-0000-0000-51A4-C40AE739AE6F,0,1583413338,None,1583413338,None,{ },2020.0,1.0,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.00
4,row-v4n8~6buj-pht4,00000000-0000-0000-B1A4-A14175679A12,0,1583413338,None,1583413338,None,{ },2020.0,1.0,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307640,row-9e3s_k85i~53tz,00000000-0000-0000-3C1A-1B2AE69E8686,0,1604581341,None,1649160143,None,{ },2020.0,9.0,LEGENDS LTD,99753,DUTCHESS DE BOURGOGNE NR - 750ML,BEER,0.00,0.0,5.00
307641,row-f3wf_iynx~6yqn,00000000-0000-0000-BFB8-1B989D9315DB,0,1604581341,None,1649160143,None,{ },2020.0,9.0,ANHEUSER BUSCH INC,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,66.12,37.0,240.75
307642,row-vthe-3e4j~f3ss,00000000-0000-0000-B482-33CE79A245A9,0,1604581341,None,1649160143,None,{ },2020.0,9.0,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,2.25,0.0,0.00
307643,row-nsvk-msjh_phx2,00000000-0000-0000-7251-71D088476FDB,0,1604581341,None,1649160143,None,{ },2020.0,9.0,BOSTON BEER CORPORATION,99990,SAM ADAMS SUMMER VARIETY 12PK NR,BEER,20.50,0.0,0.00
307644,row-fyv8-qmhb~yai2,00000000-0000-0000-FB6E-7CAF360F8707,0,1604581341,None,1649160143,None,{ },2020.0,9.0,None,WC,WINE CREDIT,REF,0.00,0.0,-70.00

In [12]:
d_dict_2 = get_data_dict(data2)

In [13]:
make_table(data2,d_dict_2)

100%|███████████████████████████████████| 28715/28715 [00:04<00:00, 6722.06it/s]

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,county,license_number,...,street_number,street_name,address_line_2,address_line_3,city,state,zip_code,square_footage,georeference,@computed_region_yamh_8v7k
0,row-bbbr.d955-7jqu,00000000-0000-0000-C2B8-A9E6D75FE565,0,1643831035,None,1643831042,None,{ },Albany,738104,...,160,STATE ST ROBERT ABREMS BL,None,None,ALBANY,NY,12207,600.0,None,NaN
1,row-m45d-n65i-azga,00000000-0000-0000-46BD-650EA2DBB31B,0,1643831035,None,1643831042,None,{ },Broome,030105,...,2859,NYS RT 26,None,None,GLEN AUBREY,NY,13777,1900.0,None,NaN
2,row-nqnm.wfqc~ex85,00000000-0000-0000-799F-17EC7015E57F,0,1643831035,None,1643831042,None,{ },Broome,030363,...,3622,NYS RT 79,None,None,HARPURSVILLE,NY,13787,4000.0,None,NaN
3,row-uzp2_4hvu~gtzc,00000000-0000-0000-2173-39264E6FE04F,0,1643831035,None,1643831042,None,{ },Cattaraugus,730578,...,10011,ROUTE 16,None,None,MACHIAS,NY,14101,9200.0,None,NaN
4,row-vugg~2pz2~vvr5,00000000-0000-0000-EEC9-81DF105922D9,0,1643831035,None,1643831042,None,{ },Erie,142146,...,13475,BROADWAY,None,None,ALDEN,NY,14004,8000.0,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28710,row-h659.amj9.ps7z,00000000-0000-0000-A178-CEDA2B5A853A,0,1643831035,None,1643831056,None,{ },Queens,630278,...,30-12,34TH ST,None,None,GRAND STATION,NY,11103,2200.0,POINT (-73.919273 40.76543),196.0
28711,row-7q5v~pnzw~e3v3,00000000-0000-0000-99A1-FD80FA38931F,0,1643831035,None,1643831056,None,{ },Queens,714195,...,39-04,SKILLMAN AVE,None,None,SUNNYSIDE,NY,11104,900.0,POINT (-73.925083 40.747391),196.0
28712,row-annd_gw36_iqv4,00000000-0000-0000-ACF5-80451C847227,0,1643831035,None,1643831056,None,{ },Queens,722089,...,1913,CORNAGA AVE,None,None,FAR ROCKAWAY,NY,11691,0.0,POINT (-73.752134 40.602285),196.0
28713,row-yx69-z3cz.2brh,00000000-0000-0000-04FD-E029A68E232F,0,1643831035,None,1643831056,None,{ },Richmond,640771,...,486,FOREST AVE,None,None,STATEN ISLAND,NY,10310,1000.0,POINT (-74.106444 40.630541),585.0
28714,row-ni4p_njk7.2zx3,00000000-0000-0000-4FFA-EDF71AF2FE0B,0,1643831035,None,1643831056,None,{ },Queens,715294,...,96-04,31ST AVE,None,None,EAST ELMHURST,NY,11369,3000.0,POINT (-73.872634 40.760635),196.0